body {
    background-color: #121212;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    margin: auto auto;
    flex-direction: column;
    gap: 32px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.dice-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    
}

#dice-picker-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    
}
.result-container {
    display: flex;
    height: 1vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#roll-dice-button {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
}